<div fxFlexFill fxLayout="column">
  <app-header (loginChanged)="loggedIn = event$"></app-header>
  <app-sidebar (searchTermChanged)="searchTerm = event$"></app-sidebar>
  <app-content [searchTerm]></app-content>

  <div fxLayout="column" fxFlex>
    <div fxFlex style="margin: 1%">
      <app-main></app-main>
    </div>
    <footer fxLayout="column">
      <div fxLayout="column">
        <div fxLayout="row">
          <p fxFlexAlign="center end">Made by skuettel</p>
        </div>
      </div>
    </footer>
  </div>
</div>
